$btn-color:$green;
$btn-alt-color:transparent;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  display: inline-block;
  font-size: $base-font-size;
  font-family: $header-font-family;
  font-weight: 900;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  text-align: center;
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}

.btn {
  display: inline-block;
  background-color: $white;
  color: $secondary;
  font-size: em(14);
  padding:em(10, 14) em(14);
  text-decoration: none;
  border-radius: 36px;
  line-height: normal;
  font-family: $header-font-family;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  border: 2px solid $secondary;
  transition: background-color 0.2s ease;
  @include mq(large){
    font-size: em(18);
    padding:em(8, 18) em(16, 18);
  }
  @include mq(xlarge){
    font-size: em(20);
    padding:em(8, 20) em(16, 20);
  }
  &:hover, &:focus{
    background-color: $secondary;
    color: $white;
    text-decoration: none;
  }
  &.btn-arrow{
    &:after{
      content: "";
      display: inline-block;
      width: em(13, 14);
      height: em(13, 14);
      background-color: currentColor;
      -webkit-mask-image: url(img/arrow-insert.svg);
      mask-image: url(img/arrow-insert.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      @include mq(large){
        width: em(13, 20);
        height: em(13, 20);
      }
    }
    span{
      padding-right: em(10, 14);
      @include mq(large){
        padding-right: em(10, 20);
      }
    }
  }
}

.btn-alt {
  @extend %button;
  background-color: $white;
  color: $primary;
  font-size: em(14);
  line-height: normal;
  font-family: $header-font-family;
  padding:em(10, 14) em(14);
  border-radius: 36px;
  font-weight: 900;
  border: 2px solid $primary;
  transition: background-color 0.2s ease;
   @include mq(large){
     font-size: em(18);
     padding:em(8, 18) em(16, 18);
   }
    @include mq(xlarge){
     font-size: em(20);
     padding:em(8, 20) em(16, 20);
   }
  &:focus,
  &:hover {
    background-color: $primary;
    color: $white;
    text-decoration: none;
  }
}
.btn-yellow {
  @extend %button;
  background-color: $accent1;
  color: $accent2;
  font-size: em(14);
  font-family: $header-font-family;
  padding:em(10, 14) em(14);
  border-radius: 36px;
  line-height: normal;
  font-weight: 900;
  border: 2px solid $accent1;
  transition: background-color 0.2s ease;
   @include mq(large){
     font-size: em(18);
     padding:em(8, 18) em(16, 18);
   }
   @include mq(xlarge){
     font-size: em(20);
     padding:em(8, 20) em(16, 20);
   }
  &:focus,
  &:hover {
    background-color: transparent;
    color: $accent2;
    border: 2px solid $accent2;
    text-decoration: none;
  }
}
.btn-blue {
  @extend %button;
  background-color: $primary;
  color: $neutral-light1;
  font-size: em(14);
  line-height: normal;
  font-family: $header-font-family;
  padding:em(10, 14) em(14);
  border-radius: 36px;
  font-weight: 900;
  border: 2px solid $primary;
  transition: background-color 0.2s ease;
   @include mq(large){
     font-size: em(18);
     padding:em(8, 18) em(16, 18);
   }
   @include mq(xlarge){
     font-size: em(20);
     padding:em(8, 20) em(16, 20);
   }
  &:focus,
  &:hover {
    background-color: $secondary;
    color: $neutral-light1;
    border: 2px solid $secondary;
    text-decoration: none;
  }
}
.btn-red {
  @extend %button;
  background-color:$secondary;
  color: $neutral-light1;
  font-size: em(14);
  font-family: $header-font-family;
  padding:em(10, 14) em(14);
  border-radius: 36px;
  line-height: normal;
  font-weight: 900;
  border: 2px solid $secondary;
  transition: background-color 0.2s ease;
   @include mq(large){
     font-size: em(18);
     padding: em(8, 18) em(16, 18);
   }
   @include mq(xlarge){
     font-size: em(20);
     padding: em(8, 20) em(16, 20);
   }
  &:focus,
  &:hover {
    background-color: $white;
    color: $secondary;
    border: 2px solid $secondary;
    text-decoration: none;
  }
}

.btn-color {
  @extend %button;
  background-color: $white;
  border:2px solid $white;
  color: $black;
  &:focus,
  &:hover {
    background-color: transparent;
    color: $white;
  }
}

.btn-color-alt {
  @extend %button;
  border:2px solid $white;
  background-color: transparent;
  color: $white;
  &:focus,
  &:hover {
    background-color: $white;
    color: $black;
  }
}

.button,
.wp-element-button,
button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed red;
    outline-offset: -1px;
  }
}

p {
  .button,
  button,
  input[type="submit"],
  .btn,
  .btn-alt {
    font-size: em(16, 16);
  }
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend %button;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

// .btn-arrow {
//   @extend %btn-ico;
//   @extend %button;
//   &:after {
//     background-image: url(img/ico-white-arrow-right.svg);
//   }
// }

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}


/*========= Additional Button Style ========*/
.btn-wrap {
  @include mq(medium){
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
  }
}

.btn-wrap-wo-bg{
    display: block;
    margin-bottom: em(24);
    &:last-child{
      margin:0;
    }
    > a:not(:first-child) {
      margin-left: em(15);
      margin-right: em(15);
    }
    @include mq(medium){
      display: inline-block;
    }
}

.btn-wrap-bg {
  max-width: 100%;
  background: $dark-gray;
  min-width: em(350);
  padding: em(14) em(16);
  text-align: center;

  > a {
    min-width: em(240);
    max-width: 100%;
    display: table;
    margin: 0 auto;
  }

  > a:not(:last-child) {
    margin-bottom: em(15);
  }
}